
body {
  background: #303030 url("/images/background_30.png");
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0 8px;
}

h1 {
  margin: 0;
  font-size: 34px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 4px #000000, -1px 1px 4px #000000, 1px -1px 4px #000000, -1px -1px 4px #000000;
}

h3 {
  font-size: 26px;
  text-align: center;
  font-weight: bold;
  height: 32px;
  margin: 0 0 6px 0;
  text-shadow: 1px 1px 4px #000000, -1px 1px 4px #000000, 1px -1px 4px #000000, -1px -1px 4px #000000;
}

a {
  font-weight: bold;
  -webkit-transition: color 0.5s linear 0s;
  -moz-transition: color 0.5s linear 0s;
  -ms-transition: color 0.5s linear 0s;
  -o-transition: color 0.5s linear 0s;
  transition: color 0.5s linear 0s;
}

body div a:active {
  color: #ea566b;
  text-decoration: none;
  -webkit-transition-duration: 0.05s;
  -moz-transition-duration: 0.05s;
  -ms-transition-duration: 0.05s;
  -o-transition-duration: 0.05s;
  transition-duration: 0.05s;
}

a:link {
  color: #9988aa;
  text-decoration: none;
}

body a:hover {
  color: #bbaaee;
  text-decoration: underline;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

a:visited {
  color: #887799;
  text-decoration: none;
}

button {
  font-size: 20px;
  font-weight: bold;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.errorMessage {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 80px;
  color: #d44;
  background: rgba(0,0,0,0.7);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 32090;
  cursor: pointer;
}

#contentColumn {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 600px;
  max-width: 1200px;
}

.panelContainer {
  margin: 0 auto 10px;
}

.panelHeader {
  position: relative;
  width: 100%;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: -2px 5px 15px 0 #000000;
  z-index: 20;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.panelHeader, button {
  cursor: pointer;
  background: -webkit-linear-gradient(#A0A0A0, #808080);
  background: -o-linear-gradient(#A0A0A0, #808080);
  background: -moz-linear-gradient(#A0A0A0, #808080);
  background: linear-gradient(#A0A0A0, #808080);
}

.panelHeader:hover, button:hover {
  background: -webkit-linear-gradient(#E0E0E0, #C0C0C0);
  background: -o-linear-gradient(#E0E0E0, #C0C0C0);
  background: -moz-linear-gradient(#E0E0E0, #C0C0C0);
  background: linear-gradient(#E0E0E0, #C0C0C0);
}

.panelHeader:active, button:active {
  background: -webkit-linear-gradient(#707070, #909090);
  background: -o-linear-gradient(#707070, #909090);
  background: -moz-linear-gradient(#707070, #909090);
  background: linear-gradient(#707070, #909090);
}

.panelHeader:active {
  box-shadow: 0 0 5px 0 #000000 inset, -1px 1px 6px 0 #000000;
}

.closed>.panelHeader {
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -ms-border-radius: 6px 6px 6px 6px;
  -o-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
}

.panelTitleContainer {
  position: absolute;
  top: 10px; left: 20px;
  width: 100%;
}

.insetText {
  display: block;
  position: relative;
  color: hsla(0, 0%, 0%, 1);
}

.insetText:before {
  content: attr(text);
  position: absolute;
}

.insetText:before {
  left: 1px;
  top: 1px;
  color: hsla(0, 0%, 100%, 0.26);
}

.panelHeader:active .insetText:after {
  content: attr(text);
  position: absolute;
}

.panelHeader:active .insetText:before {
  color: hsla(0, 0%, 100%, 0.09);
}

.insetText:after {
  left: 2px;
  top: 2px;
  color: hsla(0, 0%, 100%, 0.15);
}

.panelBody {
  position: relative;
  width: 100%;
  max-height: 1000px;
  background-color: #202020;
  overflow: auto;
  box-shadow: -1px 1px 6px 0 #000000;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-transition: height 0.5s, max-height 0.5s;
  -moz-transition: height 0.5s, max-height 0.5s;
  -ms-transition: height 0.5s, max-height 0.5s;
  -o-transition: height 0.5s, max-height 0.5s;
  transition: height 0.5s, max-height 0.5s;
}

.innerBodyContainer {
  width: 100%;
}

#contentColumn>.panelContainer.closed .panelBody {
  max-height: 0;
}

.hidden {
  display: none;
}

.panelBody>* {
  margin: 16px;
}

.panelBody .messagesColumn, .panelBody #roomsColumn {
  margin-right: 0;
}

.innerBody .usersColumn {
  margin-left: 0;
}

.usersColumn {
  float: left;
  width: 200px;
}

.messagesColumn, #roomsColumn {
  float: left;
}

#roomChatPanel .panelBody {
  height: 700px;
}

#directoryPanel .panelBody {
  height: 400px;
}

#roomChatUsersConsole {
  /* panel body height - (h3 height + h3 bottom margin) - margin * 2 - border * 2 = 700 - 38 - 32 - 2 */
  height: 628px;
  border-left-width: 0;
}

#roomChatMessagesConsole {
  /* panel body height - margin * 2 - border * 3 - textbox height = 700 - 32 - 3 - 40 */
  height: 625px;
  border-bottom-width: 0;
}

#directoryUsersConsole {
  /* panel body height - (h3 height + h3 bottom margin) - margin * 2 - border * 2 = 400 - 38 - 32 - 2 */
  height: 328px;
  border-left-width: 0;
}

#directoryRoomsConsole {
  /* panel body height - (h3 height + h3 bottom margin) - margin * 2 - border * 2 = 400 - 38 - 32 - 2 */
  height: 328px;
}

#privateChatPanel .panelBody {
  width: 322px;
  height: 324px;
}

#privateChatPanel .panelBody>#privateChatMessagesConsole {
  margin: 10px;
  width: 300px;
  height: 261px;
  border-bottom-width: 0;
}

#privateChatPanel.closed {
  display: none;
}

.chatConsole, .consoleTextBox, input {
  border: 1px solid #606060;
  font-family: monospace;
}

.chatConsole {
  background-color: #101010;
  overflow: auto;
}

.chatConsole li {
  height: 34px;
  margin: 0 0 0 7px;
  padding: 0;
}

.consoleTextBox, input {
  background-color: #000000;
  color: #e8e8d8;
  height: 36px;
  padding: 2px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
}

#footer {
  font-size: 12pt;
  width: 100%;
  margin: 30px 0;
  text-align: center;
}

.roomChatMsg {
  background-color: #202020;
  color: #e0e0d0;
}

.privateChatMsg {
  background-color: #102804;
  color: #99aaee;
  font-weight: bold;
}

.hint {
  font-style: italic;
}

.hint:before {
  content: '(';
}

.hint:after {
  content: ')';
}

h1 img.emoticon {
  vertical-align: sub;
}

img.emoticon {
  margin: 0 2px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  background: transparent url('/images/spritesheet_32.png') no-repeat;
}

img.emoticon.happy {
  background-position: 0 0;
}

img.emoticon.superHappy {
  background-position: -36px 0;
}

img.emoticon.wink {
  background-position: -72px 0;
}

img.emoticon.cry {
  background-position: -108px 0;
}

img.emoticon.surprise {
  background-position: 0 -36px;
}

img.emoticon.uncertain {
  background-position: -36px -36px;
}

img.emoticon.angry {
  background-position: -72px -36px;
}

img.emoticon.sad {
  background-position: -108px -36px;
}

img.emoticon.sunglasses {
  background-position: 0 -72px;
}

img.emoticon.tongue {
  background-position: -36px -72px;
}

img.emoticon.heart {
  background-position: -72px -72px;
}

img.emoticon.blank {
  background-position: -108px -72px;
}

#headerPanel, #buttonsPanel, #textEntryDialoguePanel {
  background-color: #202020;
  margin: 10px auto;
  height: auto;
  box-shadow: -1px 1px 6px 0 #000000;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

#headerPanel {
  width: 340px;
  padding: 10px;
}

#ownUserNameDisplay {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 8px;
}

#textEntryDialoguePanel>input {
  width: 166px;
  height: 23px;
  margin: 10px;
  font-size: 16px;
}

#buttonsPanel, #textEntryDialoguePanel {
  width: 580px;
}

#buttonsPanel>button, #textEntryDialoguePanel>button {
  width: 172px;
  margin: 10px;
}

#commandsPanel .innerBodyContainer, #emoticonsPanel .innerBodyContainer {
  margin: 0;
}

#commandsPanel .innerBodyContainer>*, #emoticonsPanel .innerBodyContainer>* {
  margin: 16px;
}

#emoticonsPanel li {
  float: left;
  margin-right: 16px;
}

#emoticonsPanel p {
  clear: both;
  padding-top: 8px;
}

.in {
  color: #e8e8d8;
}

.out {
  color: #b0b0a0;
}

.command {
  color: #99eeaa;
}

.system {
  color: #b0c0f0;
}

.error {
  color: #c06060;
}

code.room {
  color: #c090d0;
}

code.user {
  color: #e0a080;
}

.emoticon {
  color: #dddd99;
}

code.command {
  font-weight: bold;
}
