div(id='roomChatPanel' class='panelContainer closed')
  .panelHeader
    .panelTitleContainer
      span.insetText(text='Room: room_name')
        | Room: room_name
  .panelBody
    .usersColumn
      h3
        | Users
      ul
        li TODO: REMOVE THIS LIST ITEM!!
    .messagesColumn
      ul
        li TODO: REMOVE THIS LIST ITEM!!
