div(id='directoryPanel' class='panelContainer closed')
  .panelHeader
    .panelTitleContainer
      span.insetText(text='Directory')
        | Directory
  .panelBody
    .usersColumn
      h3
        | Users
      ul
        li TODO: REMOVE THIS LIST ITEM!!
    #roomsColumn
      h3
        | Rooms
      ul
        li TODO: REMOVE THIS LIST ITEM!!
