div(id='directoryPanel' class='panelContainer')
  .panelHeader
    .panelTitleContainer
      span(id='directoryHeader' class='insetText' text='Directory')
        | Directory
  .panelBody
    .innerBodyContainer
      #roomsColumn
        h3
          | Rooms
        div(id='directoryRoomsConsole' class='chatConsole')
      .usersColumn
        h3
          | Users
        div(id='directoryUsersConsole' class='chatConsole')
