div(id='directoryPanel' class='panelContainer closed')
  .panelHeader
    .panelTitleContainer
      span(id='directoryHeader' class='insetText' text='Directory')
        | Directory
  .panelBody
    .innerBodyContainer
      #roomsColumn
        h3#directoryRoomsHeader
          | Rooms (0)
        div(id='directoryRoomsConsole' class='chatConsole')
      .usersColumn
        h3#directoryUsersHeader
          | Users (1)
        div(id='directoryUsersConsole' class='chatConsole')
