div(id='privateChatPanel' class='closed hidden')
  .panelHeader
    .panelTitleContainer
      span(id='privateChatHeader' class='insetText' text='&lt;user_name&gt;')
        | &lt;user_name&gt;
  .panelBody
    .innerBodyContainer
      div(id='privateChatMessagesConsole' class='chatConsole')
      input(type='text' id='privateChatMessagesTextBox' class='consoleTextBox' placeholder='Type message here')
