#headerPanel
  h1
    | Fat-Cat Chat&nbsp;
    img(class='emoticon wink' src='#{BASE_DIR}/images/empty.gif')

#buttonsPanel
  p#connectingToServerMessage
  p#ownUserNameDisplay
    | Your nickname is&nbsp;
    code(id='ownUserNameLabel' class='user')
      | user_name
    | .
  button#changeNameButton(disabled)
    | Change Name
  button#newRoomButton(disabled)
    | New Room
  button#addBotButton(disabled)
    | Add Bot

#textEntryDialoguePanel.hidden
  input(type='text' id='changeNameTextBox' placeholder='Enter name')
  button#confirmButton
    | OK
  button#cancelButton
    | Cancel
